@model IEnumerable<SchemaNote_A11087.Models.TableModel>

@{
    ViewData["Title"] = "Index";
    List<string> tableNames = ViewBag.TableNames;
    TableModel table = Model.FirstOrDefault();
}

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        選擇 Table
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (var item in tableNames)
        {
            <a class="dropdown-item" href="@Url.Action("Index","Account",new { tableName = item})">@item</a>
        }
    </div>
</div>
@Html.DisplayNameFor(model => model.TableSchema) : @table.TableSchema
@Html.DisplayNameFor(model => model.CreateDate): @table.CreateDate
@Html.DisplayNameFor(model => model.ModifyDate): @table.ModifyDate
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColumnName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.MSDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataTpye)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsPK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsNullable)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ColumnDefault)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ColumnName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MSDescription)
                </td>
                <td>
                    @(string.IsNullOrWhiteSpace(item.CharacterMaximumLength) ? item.DataTpye : string.Format("{0}({1})", item.DataTpye, item.CharacterMaximumLength))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsNullable)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ColumnDefault)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
            </tr>
        }
    </tbody>
</table>