@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
   
*@
@{
}
@model SchemaNote_11083.ViewModels.TtableSchema<IEnumerable<Ttable_dapper>>

@{ 
    //連接DB後使用的partial view 帶出所有資料表及欄位資料
    foreach (var item in Model.Ttable)
    {  
        //設定id使用到的變數 欄位id規則 (a/text)_(擴充屬性欄位名稱)_(Table名稱)_(欄位名稱)
        var id = $"{item.Table_Name}_";

        //如果擴充屬性未設定或為空白則顯示(新增註解)
        var table_description = item.Table_Description == "" ? "(新增註解)" : item.Table_Description;
        var table_remark = item.Table_REMARK == "" ? "(新增註解)" : item.Table_REMARK;
    <div style="position:relative">
        <h4 style="display:inline">@item.Table_Name</h4>
        <input id="text_Description_@id" style="display:none;margin-left:15px;width:50%" type="text" value="@item.Table_Description" />
        <a id="a_Description_@id" style="color: #0080FF;text-decoration:underline;cursor:pointer;margin-left:15px"  
           onclick="revise_extendedproperty('@item.Table_Name','','Description')">@table_description</a>
        <h4 style="display:inline;position:absolute;right:5px;">總筆數 : @item.Total_Rows</h4>
    </div>
    <div style="display:inline-block;width:48%">
        <span>物件類型：</span><span>資料表</span><br />
        <span>物件描述名稱：</span><span>@item.Table_Schema</span><br />
        <span>物件創建日期：</span><span>@item.Create_Date</span><br />
        <span>物件修改日期：</span><span>@item.Modify_Date</span><br />
    </div>
    <div style="display:inline-block;width:48%">
        <span>物件註記：</span>
        <a id="a_REMARK_@id" style="color: #0080FF;text-decoration:underline;cursor:pointer" onclick="revise_extendedproperty('@item.Table_Name','','REMARK')">@table_remark</a>
        <input id="text_REMARK_@id" style="display:none; width:80%" type="text" value="@item.Table_REMARK" />
    </div>

                <table class="table-bordered" >
                    <tr style="text-align:center">
                        <td style="width:8%">欄位名稱</td>
                        <td style="width:8%">欄位說明</td>
                        <td style="width:5%">資料型態</td>
                        <td style="width:5%">主鍵</td>
                        <td style="width:5%">不為Null</td>
                        <td style="width:5%">預設值</td>
                        <td style="width:40%">備註</td>
                    </tr>

                    @foreach (var column in item.TtableColumns)
                    {
                        bool PK = column.PK == 0 ? false : true; //判斷是否為主鍵
                        bool isNullable = column.IS_Nullable == 0 ? true : false; //判斷是否可以為null

                        //設定id使用到的變數 欄位id規則 (a/text)_(擴充屬性欄位名稱)_(Table名稱)_(欄位名稱)
                        var idc = $"{item.Table_Name}_{column.Column_Name}";

                        //如果擴充屬性未設定或為空白則顯示(新增註解)
                        var column_description = column.Description == "" ? "(新增註解)" : column.Description;
                        var column_remark = column.REMARK == "" ? "(新增註解)" : column.REMARK;

                <tr>
                    <td style="text-align:center">@column.Column_Name</td>
                    <td style="text-align:center">
                        <input id="text_Description_@idc" style="display:none" type="text" value="@column.Description" />
                        <a id="a_Description_@idc" style="color: #0080FF;text-decoration:underline;cursor:pointer" 
                           onclick="revise_extendedproperty('@item.Table_Name','@column.Column_Name', 'Description')">@column_description</a>
                    </td>
                    <td style="text-align:center">@column.Data_Type</td>
                    <td style="text-align:center"><input type="checkbox" checked="@PK" disabled="disabled" /></td>
                    <td style="text-align:center"><input type="checkbox" checked="@isNullable" disabled="disabled" /></td>
                    <td>@column.Column_Default</td>
                    <td>
                        <a id="a_REMARK_@idc" style="color: #0080FF;text-decoration:underline;cursor:pointer" 
                           onclick="revise_extendedproperty('@item.Table_Name', '@column.Column_Name', 'REMARK')">@column_remark</a>
                        <input id="text_REMARK_@idc" style="display:none;width:100%" type="text" value="@column.REMARK" />
                    </td>
                </tr>
                    }
                </table>

    }

}
<script>
    //定時呼叫server的session避免閒置丟失。
    var kpS = setInterval(function () {
        $.ajax({
            url: `/Home/keepSession/?token=${'@ViewBag.ConnectionToken'}`,
            success: function (data) {
                if (data !== 'ok') {
                    clearInterval(kpS);
                    alert("資料連線中斷，請重新連線。")
                    $("#database").html("");
                };
            }
        })
    }, 40 * 1000)

    //切換a標籤為input標籤，修改擴充屬性內容。
    function revise_extendedproperty(table, column, target) {
        $(`#a_${target}_${table}_${column}`).css("display","none");
        $(`#text_${target}_${table}_${column}`).css("display", "").focus()
            .attr("onblur", `set_extendedproperty('${table}','${column}','${target}')`);
    }

    //呼叫updateSchema修改擴充屬性內容
    function set_extendedproperty(table, column, target) {
        var value = escapeHtml($(`#text_${target}_${table}_${column}`).css("display","none").val());
        $(`#a_${target}_${table}_${column}`).html(value==""? '(新增註解)':value).css("display", "");

        $.ajax({
            type: "POST",
            contentType:"application/json",
            url: `/Dapper/updateExpendedProperty`,
            data: JSON.stringify({ "table": `${table}`, "column": `${column}`, "target": `${target}`, "value": `${value}` }),
            success: function (data) {
            }
        })
    }



</script>