@*@model SchemaNote_11086.ViewModels.inputModel*@

@model IEnumerable<SchemaNote_11086.ViewModels.SchemaNoteViewModel>
@*@model System.Collections.Generic.List<SchemaNote_11086.ViewModels.SchemaNoteViewModel>*@


@*<div>物件創建時間</div>*@

<table class="table"  style="border:3px #cccccc solid;" cellpadding="10" border='1'>
    <thead>
        <tr>
            <th>欄位名稱</th>
            <th>欄位說明</th>
            <th>資料型態</th>
            <th>主鍵</th>
            <th>不為Null</th>
            <th>預設值</th>
            <th>備註</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var t in Model.show)
        {
            <tr>
                <td>@t.columnName</td>
                <td>@t.c欄位說明</td>
                <td>@t.c資料型別</td>
                <td>@t.c主鍵</td>
                <td>@t.c不為Null</td>
                <td>@t.c預設值</td>
                <td>@t.c欄位備註</td>
            </tr>
        }*@
        @foreach (var t in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => t.columnName)</td>
            </tr>
        }
    </tbody>


</table>
