@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<IGrouping<string, Combine>>

@{
    ViewData["Title"] = "List";
}


@{
    if (Model is IEnumerable<IGrouping<string, Combine>> && Model != null)
    {
        foreach (var item in Model)
        {
            string tableName = item.Key;

            var table = item.FirstOrDefault()?.b as b;

            if (table is b)
            {
                var Table_description = table.Main_UserTable == "" ? "null" : table.Main_UserTable;
                var Table_remark = table.Remark == "" ? "null" : table.Remark;
                var id = $"{table.TableName}";
             
                <div style="position:relative">
                    <h4 style="display:inline-block ">@table.TableName</h4>
                    <input id="text_Description_@id" style="display:none;margin-left:15px;width:50%" type="text" value="@table.Main_UserTable" />
                    <a id="a_Description_@id" style="color: #0080FF;text-decoration:underline;cursor:pointer;margin-left:15px"
                       onclick="Edit('@table.TableName','','Description')">@table.Main_UserTable</a>
                    <h4 style="display:inline;position:absolute;right:5px;">筆數 : @table.TotalCount</h4>
                </div>
                <div style="display:inline-block;width:48%">
                    <span>物件類型：</span><span>資料表</span><br />
                    <span>物件描述名稱：</span><span>@table.DescriptionName</span><br />
                    <span>物件創建日期：</span><span>@table.Object_CreateDay</span><br />
                    <span>物件修改日期：</span><span>@table.Object_UpdateDay</span><br />
                </div>
                <div style="display:inline-block;width:48%">
                    <span>備註：</span>
                    <a id="a_REMARK_@id" style="color: #0080FF;text-decoration:underline;cursor:pointer"
                       onclick="Edit('@table.TableName','','REMARK')">@Table_remark</a>
                    <input id="text_REMARK_@id" style="display:none; width:80%" type="text" value="@table.Remark" />
                </div>
                <table class="table" style="border:3px #cccccc solid;" cellpadding="10" border='1'>
                    <tr style="text-align:center">
                        <td style="width:8%">欄位名稱</td>
                        <td style="width:8%">欄位說明</td>
                        <td style="width:5%">資料型態</td>
                        <td style="width:5%">主鍵</td>
                        <td style="width:5%">不為Null</td>
                        <td style="width:5%">預設值</td>
                        <td style="width:40%">備註</td>
                    </tr>
                </table>
            }

            foreach (var column in item)
            {
                if (column.a is a)
                {

                    bool PK = column.a.Column_PK == 0 ? false : true; //判斷是否為主鍵
                    bool isNullable = column.a.Column_IsNullable == 0 ? true : false; //判斷是否可以為null
                    var Column_description = column.a.Column_Description == "" ? "null" : column.a.Column_Description;
                    var Column_remark = column.a.Column_Remark == "" ? "null" : column.a.Column_Remark;
                    var idc = $"{column.b.TableName}{column.a.Column_Name}";
                <table class="table" style="border:3px #cccccc solid;" cellpadding="10" border='1'>
                <tr>
                    <td style="text-align:center">@column.a.Column_Name</td>
                    <td style="text-align:center">
                        <input id="text_Description_@idc" style="display:none" type="text" value="@column.a.Column_Description" />
                        <a id="a_Description_@idc" style="color: #0080FF;text-decoration:underline;cursor:pointer"
                           onclick="Edit('@column.b.TableName','@column.a.Column_Name', 'Description')">@Column_description</a>
                    </td>
                    <td style="text-align:center">@column.a.Column_Type</td>
                    <td style="text-align:center"><input type="checkbox" checked="@PK" disabled="disabled" /></td>
                    <td style="text-align:center"><input type="checkbox" checked="@isNullable" disabled="disabled" /></td>
                    <td>@column.a.Column_Default</td>
                    <td>
                        <a id="a_REMARK_@idc" style="color: #0080FF;text-decoration:underline;cursor:pointer"
                           onclick="Edit('@column.b.TableName', '@column.a.Column_Name', 'REMARK')">@Column_description</a>
                        <input id="text_REMARK_@idc" style="display:none;width:100%" type="text" value="@column.a.Column_Remark" />
                    </td>
                </tr>
                    </table>
                @*<table class="table" style="border:3px #cccccc solid;" cellpadding="10" border='1'>
                    <tr style="text-align:center">
                        <td style="width:8%">欄位名稱</td>
                        <td style="width:8%">欄位說明</td>
                        <td style="width:5%">資料型態</td>
                        <td style="width:5%">主鍵</td>
                        <td style="width:5%">不為Null</td>
                        <td style="width:5%">預設值</td>
                        <td style="width:40%">備註</td>
                    </tr>
                </table>*@
                }
            }

        }
    }
}




<script>
    //修改擴充屬性內容
    function Edit(table, column, target) {
        $(`#a_${target}_${table}_${column}`).css("display", "none");
        $(`#text_${target}_${table}_${column}`).css("display", "").focus()
            .attr("onblur", `set_extendedproperty('${table}','${column}','${target}')`);
    }

</script>
